/* FONTS */

@font-face {
  font-family: 'Whitney Medium SC';
  src: url('/assets/fonts/WhitneyHTF-MediumSC/WhitneyHTF-MediumSC.eot?') format('eot'), url('/assets/fonts/WhitneyHTF-MediumSC/WhitneyHTF-MediumSC.woff') format('woff'), url('/assets/fonts/WhitneyHTF-MediumSC/WhitneyHTF-MediumSC.ttf') format('truetype');
}

@font-face {
  font-family: 'Whitney Light';
  src: url('/assets/fonts/WhitneyHTF-Light/WhitneyHTF-Light.eot?') format('eot'), url('/assets/fonts/WhitneyHTF-Light/WhitneyHTF-Light.woff') format('woff'), url('/assets/fonts/WhitneyHTF-Light/WhitneyHTF-Light.ttf') format('truetype');
}

body {
	/*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;*/

	font-family: 'Whitney Light', 'HelveticaNeue-Light', Helvetica, 'Lucida Grande', Arial, sans-serif;
	font-weight: 300;
}

#container {
	text-align: center;
	margin-top: 2em;
	margin: auto;
	max-width: 600px;
}

#logo {
	height: 150px;
	margin-top: 50px;
	margin-left: 30px;
}

h1 {
	font-size: 2em;
	margin-top: 20px;
	color: #0285D2;
}

.version {
	color: #8297AF;
	margin-top: 5px;
	font-size: 1em;
}

button, button:focus, input, input:focus {
	outline:0;
}

#authorize, #microphoneButton {
	margin-top: 40px;
	width: 180px;
	height: 40px;
	border: 2px solid rgba(2, 144, 214, 0.8);
	border-radius: 8px;
	background-color: transparent;

	font-family: 'Whitney Medium SC';
	text-transform: uppercase;
	font-size: 1em;
	color: #0285D2;

	transition: 0.25s;
}

#microphoneAccess > h2 {
	margin-top: 40px;
}

#microphoneButton {
	text-transform: none;
	width: 250px;
	margin-top: 20px;
}

#authorize:hover, #microphoneButton:hover {
	border: 2px solid rgb(2, 144, 214);
	cursor: pointer;
	background-color: #0285D2;
	color: #FFFFFF;
}

h2 {
	font-size: 1.5em;
	width: 80%;
	margin: auto;
	margin-top: 20px;
	color: #0285D2;
}

#playPause {
	height: 50px;
	width: 50px;
	cursor: pointer;
	margin-top: 1em;
	background-color: white;
	background-image: url('../assets/images/Play.png') no-repeat scroll 0 0 transparent;
}

.play {
}

.pause {
	background-image: url('../assets/images/Pause.png');
}

#playlists {
	width: 100%;
	max-width: 400px;
	margin: 2em auto;
	border-top: 1px solid #8297AF;
}

#playlists > li {
	text-align: left;
	height: 80px;
	border-bottom: 1px solid #8297AF;
	cursor: pointer;
	padding: 10px 10px;
}

.playlistImage {
	height: 80px;
	width: 80px;
	vertical-align: middle;
}

.playlistName {
	font-size: 1.2em;
	vertical-align: top;
	margin-left: 10px;
	margin-top: 3px;
}

#playlists > li:hover {
	background-color: rgb(245, 248, 250);
}

p {
	margin: 0.5em auto;
	line-height: 1.1em;
}

#container > p {
	margin-top: 40px;
}
