{% extends 'layout.html' %}

{% block content %}
<p class="version">
	Play <a href="https://www.spotify.com">Spotify</a> music while you shower, using nothing but your voice. Based off of <a href="https://github.com/athyuttamre">athyuttamre</a>'s <a href="https://github.com/athyuttamre/playshowerbuddy.com">ShowerBuddy</a> project. Made with <a href="https://github.com/JMPerez">JMPerez</a>'s <a href="https://github.com/JMPerez/passport-spotify">passport-spotify</a> and <a href="https://github.com/JMPerez/spotify-web-api-js">spotify-web-api-js</a> packages. <br>
	Put together by <a href="https://github.com/ROODAY">ROODAY</a>.
</p>
{% endblock %}